@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

body {
    font-family: 'Red Hat Display', sans-serif;
    background: hsl(225, 100%, 94%);
}

html {
    font-size: 62.5%;
}

:root {
    --primary-color: #7280a7;
}

* {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

.container {
    padding: 10rem 0 0 0;
}

/* hero section */


/* .hero-section{
    text-align: center;
    width: 300px;
    border-radius: 2rem;
    background: white ;
    margin-left: 3.7rem;
    margin-right: 1rem;
    margin-top: 6rem;
} */

/* .hero-content{
    border-radius: 5rem solid;
    text-align: center;
} */
.card {
    height: 80vh;
}

.hero-section {
    background-color: white;
    border-radius: 2rem;
    width: 300px;
    height: 480px;
    text-align: center;
    margin: auto;
}

.hero-img img {
    border-radius: 10px 10px 0 0;
}

.order-summary h2 {
    padding: 2rem 0 2rem 0;
    font-size: 2rem;
    font-weight: 800;
}

.order-summary p {
    font-size: 1.2rem;
    padding: 0rem 2.1rem 2rem 2.1rem;
    color: var(--primary-color);
    line-height: 2.1rem;
}

.price-section {
    padding: 0 2.5rem 0 2.5rem;
    border-radius: 20rem;
}

.annual-price {
    background-color: #F5F7FF;
    display: flex;
    border-radius: 1.2rem;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 2rem;
    padding: 1.5rem 0 1.5rem 0;
}

.price-icon img {
    transform: translateX(-5px);
    height: 3.5rem;
}

.price-content p{
    font-size: 1.2rem;
    color: hsl(224, 23%, 55%);
    padding: 0;
}
.price-content h3{
    font-weight: 900;
}

.price-content{
    transform: translateX(-20px);
}
.price-change-btn a{
    text-decoration: underline;
    color: blue;
    font-weight: bold;
}

.payment-btn {
    margin: 2rem 0;
    background: hsl(245, 75%, 52%);
    padding: 1rem 0;
    width: 25rem;
    margin: auto;
    border-radius: 1rem;
}

.payment-btn a{
    color: white;
    font-weight: 600;
}

.cancel{
    padding: 2rem;
}

.cancel-btn a{
    font-weight: 750;
    color: var(--primary-color);
}

